/**DE SOLUTIONS FINDER**/
/**Typography**/

@media {
    @font-face {
        font-family: 'SalesforceSansBold';
        src: url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Bold.eot');
        src: url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Bold.eot?#iefix') format('embedded-opentype'), url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Bold.woff') format('woff'), url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Bold.woff2') format('woff2'), url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Bold.ttf') format('truetype'), url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Bold.svg#SalesforceSansBold') format('svg');
        font-weight: normal;
        font-style: normal
    }
    @font-face {
        font-family: 'SalesforceSansBoldItalic';
        src: url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-BoldItalic.eot');
        src: url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-BoldItalic.eot?#iefix') format('embedded-opentype'), url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-BoldItalic.woff') format('woff'), url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-BoldItalic.woff2') format('woff2'), url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-BoldItalic.ttf') format('truetype'), url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-BoldItalic.svg#SalesforceSansBoldItalic') format('svg');
        font-weight: normal;
        font-style: normal
    }
    @font-face {
        font-family: 'SalesforceSansItalic';
        src: url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Italic.eot');
        src: url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Italic.eot?#iefix') format('embedded-opentype'), url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Italic.woff') format('woff'), url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Italic.woff2') format('woff2'), url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Italic.ttf') format('truetype'), url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Italic.svg#SalesforceSansItalic') format('svg');
        font-weight: normal;
        font-style: normal
    }
    @font-face {
        font-family: 'SalesforceSansLight';
        src: url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Light.eot');
        src: url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Light.eot?#iefix') format('embedded-opentype'), url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Light.woff') format('woff'), url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Light.woff2') format('woff2'), url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Light.ttf') format('truetype'), url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Light.svg#SalesforceSansLight') format('svg');
        font-weight: normal;
        font-style: normal
    }
    @font-face {
        font-family: 'SalesforceSansLightItalic';
        src: url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-BoldItalic.eot');
        src: url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-BoldItalic.eot?#iefix') format('embedded-opentype'), url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-BoldItalic.woff') format('woff'), url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-BoldItalic.woff2') format('woff2'), url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-BoldItalic.ttf') format('truetype'), url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-BoldItalic.svg#SalesforceSansLightItalic') format('svg');
        font-weight: normal;
        font-style: normal
    }
    @font-face {
        font-family: 'SalesforceSansRegular';
        src: url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Regular.eot');
        src: url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Regular.eot?#iefix') format('embedded-opentype'), url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Regular.woff') format('woff'), url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Regular.woff2') format('woff2'), url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Regular.ttf') format('truetype'), url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Regular.svg#SalesforceSansRegular') format('svg');
        font-weight: normal;
        font-style: normal
    }
    @font-face {
        font-family: 'SalesforceSansThin';
        src: url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Thin.eot');
        src: url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Thin.eot?#iefix') format('embedded-opentype'), url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Thin.woff') format('woff'), url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Thin.woff2') format('woff2'), url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Thin.ttf') format('truetype'), url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Thin.svg#SalesforceSansThin') format('svg');
        font-weight: normal;
        font-style: normal
    }
    @font-face {
        font-family: 'SalesforceSansThinItalic';
        src: url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-ThinItalic.eot');
        src: url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-ThinItalic.eot?#iefix') format('embedded-opentype'), url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-ThinItalic.woff') format('woff'), url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-ThinItalic.woff2') format('woff2'), url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-ThinItalic.ttf') format('truetype'), url('https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-ThinItalic.svg#SalesforceSansThinItalic') format('svg');
        font-weight: normal;
        font-style: normal
    }
}

.icon-ok:before {
  font-family: 'close';
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-ok:before { content: "\e800"; }

/**Globals**/
html, body {
    background: #eef1f6;
    font-family: 'SalesforceSansRegular',Helvetica,Arial,sans-serif;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

.clear {
  background: transparent;
  clear: both;
  height: 1px;
  width: 100%;
}

.mobile-hide {
  display: none;
}
.mobile-show {
  display: block;
}

@media (min-width: 768px) {
  .mobile-show { display: none; }
  .mobile-hide { display: block; }
}

/**Buttons**/
.btn {
    border-radius: 50px;
    background-color: #0c8eff;
    font-size: 11px;
    font-weight: bold;
    line-height: 1.3;
    letter-spacing: 1.4px;
    color: #ffffff !important;
    padding: 15px 25px;
    text-align: center;
    width: 143px;
  text-decoration: none !important;
}

.btn.disabled {
  pointer-events: none;
  background-color: #cfd7e6;
}

.light-btn {
  background-color: #ffffff;
  border: none;
  /*border: solid 1px #a7b8d2;*/
  color: #0c8eff;
}

.popover-content a {
  font-size: 11px;
  color: #16325c;
  font-weight: lighter;
}

/**Radio Buttons**/
.radio {
  background: white;
  border: 1px solid #a7b8d2;
  border-radius: 4px;
  color: #16325c;
  float: left;
  font-family: 'SalesforceSansLight',Helvetica,Arial,sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 0.7px;
  padding: 20px 10px;
  width: 100%;
  cursor: pointer;
}
.radio:hover {
  border: 1px solid #0070d2;
  box-shadow: 0 0 0 1px #0070d2;
color: #0070d2;
}
.radio:hover .radiobtn-inner {
  display: block;
}

.radio:focus {
  color:#0070d2;
}

.radio.selected {
  pointer-events: none;
}
.radio.selected .radiobtn-inner {
  display:block;
}

.radiobtn {
  border:1px solid #a7b8d2;
  border-radius: 50px;
  display: block;
  float:left;
  height: 24px;
  margin-right: 10px;
  margin-top: 4px;
  width: 24px;
}
.radiobtn-inner {
  background: #0070d2;
  border-radius: 50px;
  display: none;
  height: 12px;
  left: 50%;
  margin-left:-6px;
  margin-top:-6px;
  position: relative;
  top: 50%;
  width:12px;
}

.radio__dblline {
  padding: 6px 10px;
}
.radio__txt {
  display: block;
  float: left;
  position: relative;
}

.radio__dblline .radiobtn {
  margin-top: 18px;
}

/**Checkboxes**/
.check {
  background: white;
  border: solid 1px #a7b8d2;
  border-radius: 4px;
  color: #16325c;
  float: left;
  font-family: 'SalesforceSansRegular',Helvetica,Arial,sans-serif;
  font-size: 15px;
  line-height: 1.6;
  padding: 20px 10px;
  position: relative;
  width: 100%;
  z-index: 990;
  cursor: pointer;
}
.check:hover {
  border: 1px solid #0070d2;
  box-shadow: 0 0 0 1px #0070d2;
}
.check:focus {
  color:#16325c;
}
.check-outer {
  border:1px solid #a7b8d2;
  border-radius: 3px;
  display: block;
  float:left;
  height: 24px;
  margin-right: 10px;
  margin-top: 12px;
  position: relative;
  top: 50%;
  width: 24px;
}
.check-inner {
  display: none;
}
.check-inner i {
  color:#0070d2;
  padding-left: 4px;
}
.check.selected .check-inner {
  display: block;
}
.check-text {
  display: block;
  float: left;
  position: relative;
  width: 87%;
}
.check.disabled {
  background-color: #ffffff;
  border: solid 1px #a7b8d2;
  opacity: .45;
}
.check.disabled:hover {
  background-color: #ffffff;
  border: solid 1px #a7b8d2;
  box-shadow: 0 0 0 1px transparent;
  color: #16325c;
}
li .warning {
  display: none;
  padding: 0;
  position: absolute;
  margin-top: -24px;
  z-index: 999;
  width: 300px;
}
li .warning span {
  border-radius: 4px;
  background: #cb4240;
  color: white;
  display: block;
  margin: 0 auto;
  padding: 4px 10px;
  text-align: center;
  width: 100%;
}
@media (max-width: 1024px) {
  .radio {
    font-size: 18px;
  }
}