/* Ion.RangeSlider, Simple Skin
// css version 2.0.3
// © Denis Ineshin, 2014    https://github.com/IonDen
// © guybowden, 2014        https://github.com/guybowden
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

.irs {
    height: 55px;
}
.irs-with-grid {
    height: 75px;
    margin-bottom: 50px;
}
.irs-line {
    height: 10px; top: 33px;
}
.irs-line-left {
    height: 8px;
}
.irs-line-mid {
    height: 8px;
    background: #cfd7e6;
    left: 13px;
    width: 91%;
}
.irs-line-right {
    height: 8px;
}

.irs-bar {
    height: 10px; top: 33px;
    border-top: 1px solid #428bca;
    border-bottom: 1px solid #428bca;
    background: #0c8eff;
}

.irs-shadow {
    height: 2px; top: 38px;
    background: #000;
    opacity: 0.3;
    border-radius: 5px;
    -moz-border-radius: 5px;
}
.lt-ie9 .irs-shadow {
    filter: alpha(opacity=30);
}

.irs-slider {
    top: 25px;
    width: 27px; height: 27px;
    background: #005fb2;
    border-radius: 27px;
    -moz-border-radius: 27px;
    cursor: pointer;
}

.irs-min, .irs-max {
    color: #333;
    font-size: 12px; line-height: 1.333;
    text-shadow: none;
    top: 0;
    padding: 1px 5px;
    background: rgba(0,0,0,0.1);
    border-radius: 3px;
    -moz-border-radius: 3px;
    display: none;
}

.lt-ie9 .irs-min, .lt-ie9 .irs-max {
    background: #ccc;
}

.irs-from, .irs-to, .irs-single {
    color: #fff;
    font-size: 14px; line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background: #428bca;
    border-radius: 3px;
    -moz-border-radius: 3px;
}
.lt-ie9 .irs-from, .lt-ie9 .irs-to, .lt-ie9 .irs-single {
    background: #999;
}

.irs-single {
    display: none;
}

.irs-grid {
    height: 27px;
}
.irs-grid-pol {
    top: -18px;
    left: 0px;
    width: 2px;
    height: 16px;
    background: #0c8eff;
}
.irs-grid-pol.small {
    background: #999;
    display: none;
}

.irs-grid-text {
    bottom: -15px;
    font-size: 10px;
    font-weight: bold;
    line-height: 1.3;
    letter-spacing: 1.4px;
    text-align: center;
    color: #16325c;
    font-family: 'SalesforceSansRegular', sans-serif;
}

.irs-grid-text:hover {
    cursor: pointer;
    color: #0c8eff;
}

@media (min-width: 768px) {
    .irs-line-mid {
        width: 97%;
    }
}

@media (min-width:780px) {
    .irs-grid-text {
        bottom: -25px;
        font-size: 15px;
    }
}
.irs-disabled {
}
