/**Header**/
header {
    background: white;
    padding: 20px;
    position: relative;
    width: 100%;
    z-index: 10;
}
.header__inner {
    margin: 0 auto;
    max-width: 1280px;
    padding: 25px 0 5px;
    width: 100%;
}
.header__left {
    margin: 0 auto;
    margin-bottom: 60px;
    width: 320px;
}
.header__logo {
    display: block;
    float:left;
    margin: -10px 15px 0 0;
    max-width: 62px;
    width: 100%;
}
.header__left h1 {
    float: left;
    font-family: 'SalesforceSansLight',Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #16325c;
}
.header__tel {
    display: block;
    font-size: 11px;
    font-weight: bold;
    line-height: 1.4;
    color: #00396b;
    text-align: center;
}
.header__contact {
    display: block;
    margin: 20px auto;
    width: 143px;
    height: 45px;
    text-align: center;
}

/**Navigation - Mobile**/
nav.nav__mobile {
    margin: 40px auto 100px;
    max-width: 250px;
    width: 100%;
}
nav.nav__mobile ul li {
    float: left;
    width: 20%;
}
nav.nav__mobile ul li a i {
    display: none;
}
nav.nav__mobile ul li a {
    border-radius: 50px;
    background: #cfd7e6;
    color: #16325c;
    display: block;
    height: 32px;
    padding: 9px 11px;
    pointer-events: none;
    width: 32px;
}
nav.nav__mobile ul li a.active {
    background: #0070d2;
    color: white;
}
nav.nav__mobile ul li a.visited {
    background: #4bca81;
    color: white;
    padding: 9px 5px;
    pointer-events: auto;
    text-decoration: none !important;
}
nav.nav__mobile ul li a.visited i {
    display: block;
    padding-left: 3px;
}
nav.nav__mobile ul li a.visited span.nav__text {
    display: none;
}

/**Navigation - Desktop**/
nav.nav__desktop {
    margin: 40px auto;
    max-width: 1280px;
    padding: 0 20px;
    width: 100%;
}
nav.nav__desktop ul li {
    float: left;
    width: 20%;
}
nav.nav__desktop ul li:first-child a{
    border-radius: 50px 0 0 50px;
}
nav.nav__desktop ul li:last-child a{
    border-radius: 0 50px 50px 0;
}
nav.nav__desktop ul li a {
    background: #cfd7e6;
    color: #16325c;
    display: block;
    font-size: 11px;
    line-height: 1;
    padding: 13px 0;
    pointer-events: none;
    position: relative;
    text-align: center;
    width: 100%;
}
nav.nav__desktop ul li a:focus {
    outline: none;
}
nav.nav__desktop ul li span.back__tri {
    border-bottom: 18px solid transparent;
    border-top: 19px solid transparent;
    border-left: 14px solid #cfd7e6;
    display: block;
    height: 0;
    position: absolute;
    width: 0;
    top: 0;
    right: -14px;
    z-index: 10;
}
nav.nav__desktop ul li span.back__tri-stroke {
    border-bottom: 20px solid transparent;
    border-top: 22px solid transparent;
    border-left: 16px solid white;
    right: -16px;
    top: -3px;
    z-index: 9;
}

nav.nav__desktop ul li a i {
    display: none;
}
nav.nav__desktop ul li a.active {
    background: #0070d2;
    color: white;
}
nav.nav__desktop ul li a.active span.back__tri {
    border-left: 14px solid #0070d2;
}
nav.nav__desktop ul li a.active span.back__tri-stroke {
    border-left: 16px solid white;
}
nav.nav__desktop ul li a.visited {
    background: #4bca81;
    color: white;
    padding: 10px;
    pointer-events: auto;
    text-decoration: none !important;
}
nav.nav__desktop ul li a.visited span.back__tri {
    border-left: 14px solid #4bca81;
}
nav.nav__desktop ul li a.visited span.back__tri-stroke {
    border-left: 16px solid white;
}
nav.nav__desktop ul li a.visited i {
    display: none;
    font-size: 17px;
}
nav.nav__desktop ul li a.visited span.nav__text {
    display: inline;
    line-height: 17px;
}

nav.nav__results ul {
    width: 80%;
}
nav a.light-btn {
    display: block;
    margin: 20px auto;
    width: 161px;
    height: 45px;
}

a.light-btn.mobile-show {
    display: block;
    margin: 0 auto;
}
/**Intro Sections**/
.intro {
    position: absolute;
    top:0;
}
.intro1{
    background: url('http://image.mail.salesforce.com/lib/fe971c7275640d7e77/m/1/finger.jpg') top center no-repeat;
    background-size: cover;
    height: 100%;
    padding: 150px 0;
    width: 100%;
}
.intro__inner {
    margin: 0 auto;
    padding: 0px 20px;
    max-width: 1280px;
    width: 100%;
}
.intro__copy {
    margin: 0 auto;
    max-width: 514px;
}

.intro h1 {
    font-family: 'SalesforceSansThin',Helvetica,Arial,sans-serif;
    font-size: 30px;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 20px;
    color: #16325c;
}

.intro p {
    font-family: 'SalesforceSansRegular',Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #16325c;
    margin-bottom: 20px;
}

.intro .btn {
    display: block;
    margin: 0 auto;
    max-width: 190px;
    width: 190px;
    white-space: nowrap;
}

.intro2{
    background: url('http://image.mail.salesforce.com/lib/fe971c7275640d7e77/m/1/intro_b_bg.jpg') center center no-repeat;
    background-size: cover;
    height: 100%;
    padding: 280px 0;
    width: 100%;
}

.intro p.quote {
    color: #16325c;
    font-family: 'SalesforceSansThin',Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.4;
    text-align: center;
    width: 100%;
}

.intro p.quote__sub {
    font-family: 'SalesforceSansRegular',Helvetica,Arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 1.4;
    color: #16325c;
    text-align: center;
}

.intro__copy img {
    display: block;
    margin: 0 auto 20px;
}

.separator {
    background: #4f6a92;
    height: 1px;
    margin: 40px auto;
    width: 40%;
}

.intro__hero {
    bottom: 0px;
    float: right;
    position: absolute;
    right: 30px;
    width: 47%;
}
.intro__hero img {
    display: block;
    max-width: 545px;
    width: 100%;
}

/**Main Section**/
.main {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    margin-bottom: 150px;
}

.main h1 {
    color: #222222;
    font-family: 'SalesforceSansThin',Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 40px;
    padding: 20px;
}

.main__answers {
    width: 100%;
}

.main__next {
    margin: 50px auto 80px;
    max-width: 83px;
}

.main__answers ul {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}

.main__answers ul li {
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 0 10px;
    width: 100%;
}

/**Step 1**/
.main__answers1 ul {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}

/**Step 2**/
.main__answers2 {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 40px;
    width: 100%;
}

.tooltip {
    background-color: red;
    color: white;
    border-radius: 5px;
}

.tooltip-arrow {
    display: none !important;
}

.slds-spinner_container {
z-index: 9999998;
}

.loading-results {
    transform: rotate(-90deg);
    width: 400px;
    height: 30px;
    font-family: 'SalesforceSansRegular',Helvetica,Arial,sans-serif;
    font-size: 22px;
    line-height: 1.4;
    color: #16325c;
    padding-left: 20px;
z-index: 9999999;
}

/**Results**/
.results {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 20px;
    width: 100%;
}

.results__heading {
    font-family: 'SalesforceSansThin',Helvetica,Arial,sans-serif;
    font-size: 30px;
    font-weight: 100;
    line-height: 1.2;
    color: #16325c;
    margin-bottom: 40px;
    margin-top: 20px;
    max-width: 90%;
}

.results__subheading {
    font-family: 'SalesforceSansLight',Helvetica,Arial,sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.3;
    color: #16325c;
    margin-bottom: 30px;
}

.results ul.results__bullets {
    width: 100%;
}
.results ul.results__bullets li {
    font-family: 'SalesforceSansThin',Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.4;
    color: #16325c;
    margin-bottom: 12px;
}

.results ul.results__bullets li i {
    float: left;
    font-size:15px;
    margin-right: 10px;
    margin-top: 5px;
    width: 21px;
}
.results ul.results__bullets li span {
    display: block;
    /*float: left;*/
    
}

.results__stat {
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #a7b8d2;
    max-width: 320px;
    margin: 0 auto 20px;
    padding: 30px 20px;
    width: 100%;

}
.results__stat h1 {
    font-family: 'SalesforceSansBold',Helvetica,Arial,sans-serif;
    font-size: 70px;
    font-weight: bold;
    line-height: 0.9;
    text-align: center;
    color: #0070d2;
}
.results__stat h1 span {
    font-family: 'SalesforceSansThin',Helvetica,Arial,sans-serif;
    font-size: 25px;
    font-weight: 300;
    line-height: 1.1;
    color: #0070d2;
}

.results__stat p {
    font-family: 'SalesforceSansBold',Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #16325c;
    margin-top: 8px;
    text-align: center;
}

.results__cards {
    width: 100%;
    margin-top: 30px;
}

.results__card {
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #a7b8d2;
    margin: 40px 20px 40px 0;
    max-width: 296px;
}

.recommended {   
    float: left;
    padding: 5px 0px 15px 0px;
    background-color: #4bca81;
    color: white;
    width: 100%;
    text-align: center;
}


.results__card_recommended {
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 15px #4bca81;
    margin: 40px 20px 40px 0;
    max-width: 296px;
    margin: -10px 20px 40px 0px;

}

.results__card-inner {
    padding: 20px;
    width: 100%;
}

.results__card img {
    width: 100%;
}

.results__card h1 {
    font-family: 'SalesforceSansThin',Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.4;
    color: #0070d2;
    margin-bottom: 15px;
}

.results__card p {
    font-family: 'SalesforceSansRegular',Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #16325c;
    margin-bottom: 10px;
}

.results__card p:first-child {
    font-family: 'SalesforceSansBold',Helvetica,Arial,sans-serif;
    font-size: 11px;
    letter-spacing: 1.4px;
}

.results__card a {
    font-family: 'SalesforceSansRegular',Helvetica,Arial,sans-serif;
    font-size: 11px;
    line-height: 1.3;
    color: #0c8eff;
}

hr {
    max-width: 1280px;
    margin-bottom: 40px;
}

@media (min-width: 640px) {
    .results ul.results__bullets {
        float: left;
        max-width: 90%;
    }
    .results__stat {
        float: right;
        max-width: 296px;
        width: 55%;
    }
    .results__stat p {
        text-align: left;
    }
}

@media (min-width: 768px) {
    .header__inner {
        padding: 25px 0 35px;
    }
    .header__left {
        float: left;
        margin: 0;
    }
    .header__right {
        float: right;
    }
    .header__contact {
        display: inline;
        margin: -14px 0 0;
        width: 143px;
        height: 45px;
        float: right;
    }
    .header__tel {
        display: inline;
        margin-right: 40px;
        text-align: left;
    }

    nav a.light-btn {
        display: inline;
        float: right;
        margin: -5px 0 0;
        width: 165px;
        height: 45px;
    }

    a.light-btn.mobile-show {
        display: none;
    }

    .intro__copy {
        margin: 0;
    }

    .intro p.quote__sub {
        text-align: left;
    }

    .intro__copy img {
        margin: 0;
    }

    .intro1 {
        padding: 170px 20px 0;
    }
    .intro h1 {
        font-size: 50px;
    }
    .intro .btn {
        margin: 0;
    }

    .intro2 {
        padding: 150px 0;
    }

    .intro__hero {
        width: 65%;
    }

    .intro2 p {
        max-width: 400px;
    }

    .intro p.quote {
        text-align: left;
        max-width: 300px;
    }

    .separator {
        margin: 40px 0;
    }

    .main__answers ul li, .main__answers4 ul li {
        width: 50%;
    }

    .results__heading {
        font-size: 50px;
    }
    .results__subheading {
        font-size: 34px;
    }
    .results ul.results__bullets {
        width: 90%;
    }
    .results__stat {
        max-width: none;
        margin: 0 0 20px;
        width: 50%;
    }
    .results__card {
        float: left;
    }
}

@media (min-width: 1024px) {
    nav.nav__results ul {
        width: 85%;
    }

    .intro1 {
        padding: 170px 20px 0;
    }
    .intro__copy {
        margin-left: 200px;
    }

    .intro2 .intro__copy {
        margin-left: 140px;
    }

    .intro__hero {
        width: 47%;
    }

    .main__answers1 ul li {
        min-width: 402px;
        width: 33%;
    }
    .main__answers3 ul li, .main__answers4 ul li {
        min-width: 250px;
        width: 25%;
    }

    .results__stat {
        border-radius: 4px;
        background-color: #ffffff;
        border: solid 1px #a7b8d2;
        float: right;
        max-width: 515px;
        padding: 30px 20px;
        width: 100%;
    }
    .results__stat h1 {
        float: left;
        margin-right: 20px;
    }
}

@media (min-width: 1280px) {
    header {
        padding: 20px 0;
    }
    .header__inner {
        padding-left: 10px;
        padding-right: 10px;
    }
    nav {
        padding: 0 10px;
    }

    nav.nav__desktop {
        padding:  0 10px;
    }

    .intro__inner {
        padding: 0;
    }

    .main h1 {
        padding: 0 10px;
    }

    .main__answers2 {
        padding: 0;
    }

    .results {
        padding: 0 10px;
    }

    .results ul.results__bullets {
        /*float: left;*/
        max-width: 90%;
        width: auto;
    }

    .results ul.results__bullets li span {
        width: auto;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .main h1 {
        font-size: 32px;
        margin-bottom: 20px;
    }
    .main__answers ul {
        padding-left: 10px;
        padding-right: 10px;
    }
    header {
        padding: 0;
    }
    .header__inner {
        padding-top: 35px;
    }
    .mobile-footer-phone-number {
        display: block !important;
    }
    .header__right {
        display: none;
    }
    a.light-btn.mobile-show {
        display: none !important;
    }
}

.mobile-footer-phone-number {
    display: none;
    background-color: #00a1e0;
    bottom: 0;
    box-sizing: border-box;
    height: 75px;
    padding-bottom: 15px;
    padding-top: 15px;
    position: fixed;
    width: 100%;
    z-index: 1200;
}

.mobile-footer-phone-number>div {
    background-color: #fff;
    border-radius: 50px;
    height: 45px;