     <div class="border">
<div class="full-circle-number center inline">
<div class="full-circle-inner">
<span>%%=v(@number)=%%</span>

</div>
</div>
<div class="inline">
<div>
<p>Wir haben kein Ticketsystem, um Kundenserviceanfragen effizient zu bearbeiten.</p>
</div>
</div>
  </div>

      <h2 class="results__subheading">Mit der Service Cloud steigern Sie die Zufriedenheit Ihrer Kunden ohne zusätzlichen Aufwand: </h2>
      <div class="clear"></div>
      <!--
      <div class="results__stat">
        <h1 class="results__percentage">70<span>%</span></h1>
        <p>ALLER KÄUFE ERFOLGEN AUFGRUND VON GUTEM KUNDENSERVICE.<sup>7</sup></p>
      </div> -->
      <ul class="results__bullets">
        <li><i class="fa fa-circle" aria-hidden="true"></i> <span class="bullet-text">Sorgen Sie dafür, dass Ihre Servicemitarbeiter Zugriff auf alle relevanten Informationen haben – auch aus dem Vertrieb und Marketing –, um Ihren Kunden immer gleich die richtigen Antworten zu liefern. </span>
          <div class="clear"></div>
        </li>
        <li><i class="fa fa-circle" aria-hidden="true"></i> <span class="bullet-text">Bieten Sie Ihren Kunden die Möglichkeit, sie über den Kanal ihrer Wahl zu erreichen – per E-Mail, Telefon, Chat, soziale Netzwerke etc. </span>
          <div class="clear"></div>
        </li>
        <li><i class="fa fa-circle" aria-hidden="true"></i> <span class="bullet-text">Stellen Sie Ihren Kunden eine Self-Service-Lösung bereit, damit sie Antworten auch selbst finden können.</span>
          <div class="clear"></div>
        </li>
      </ul>
      <div class="clear"></div>
      <div class="results__cards">
        <ul class="cards-height">
                <li class="results__card results__card_recommended service" style="min-height: 494px;">
            <a href="https://www.salesforce.com/de/form/demo/demo-service.jsp">
              <img src="https://www.salesforce.com/de/assets/images/solutions-finder/PP07/de-demo-service-cloud.jpg" alt="">
              <div class="results__card-inner">
                <p>DEMO</p>
                <h1>Service Cloud Demo-Video</h1>
                  <p>Sehen Sie sich an, wie Sie die Kundenzufriedenheit und -bindung steigern und effizienter arbeiten können.</p>
                <a href="https://www.salesforce.com/de/form/demo/demo-service.jsp">VIDEO ANSEHEN &gt;</a>
              </div>
            </a>
          </li>
          <li class="results__card" style="min-height: 494px;">
            <a href="https://www.salesforce.com/de/form/pdf/360-degree-customer-view.jsp">
              <img src="https://www.salesforce.com/de/assets/images/solutions-finder/PP07/de-ebook-360-degree-customer-view.jpg" alt="">
              <div class="results__card-inner">
                <p>E-BOOK</p>
                <h1>8 Schritte zur Transformation des Kundenservices über Social Media</h1>
                <p>Lesen Sie, wie Unternehmen einen personalisierten, intelligenten Kundenservice über alle Kanäle hinweg anbieten können.</p>
                <a href="https://www.salesforce.com/de/form/pdf/360-degree-customer-view.jsp">E-BOOK HERUNTERLADEN &gt;</a>
              </div>
            </a>
          </li>

<li class="results__card" style="min-height: 494px;">
            <a href="https://www.salesforce.com/de/form/pdf/kundenservice-in-kleinunternehmen.jsp">
              <img src="http://www.salesforce.com/de/assets/images/solutions-finder/PP07/de-ebook-desk.jpg" alt="">
                <div class="results__card-inner">
                <p>E-BOOK</p>
                <h1>Erfolgreicher Kundenservice in Kleinunternehmen - Tipps für Geschäftsführer</h1>
                <p>Lesen Sie, wie Sie mit der frühzeitigen Implementierung einer Kundenservicelösung viel Stress vermeiden.</p>
                <a href="https://www.salesforce.com/de/form/pdf/kundenservice-in-kleinunternehmen.jsp">E-BOOK HERUNTERLADEN &gt;</a>
              </div>
            </a>
          </li>
        </ul>
      </div>
<div class="clear"></div> <!--
<span class="citation-note"><sup>7</sup> <a href="http://www.mckinsey.com/business-functions/organization/our-insights/the-moment-of-truth-in-customer-service">McKinsey &amp; Company</a></span> -->
    <hr>