     <div class="border">
<div class="full-circle-number center inline">
<div class="full-circle-inner">
<span>%%=v(@number)=%%</span>

</div>
</div>
<div class="inline">
<div>
<p>Wir haben nicht genügend Leads bzw. können zu wenige Aufträge gewinnen.</p>
</div>
</div>
  </div>

      <h2 class="results__subheading">Generieren Sie mehr qualifizierte Leads mit Pardot.</h2>
      <div class="clear"></div>
     <!-- <div class="results__stat">
        <h1 class="results__percentage">48<span>%</span></h1>
        <p>EINE SAUBERE PIPELINE GENERIERT 48% MEHR UMSATZ<sup>1</sup></p>
      </div> -->


      <ul class="results__bullets">
        <li><i class="fa fa-circle" aria-hidden="true"></i> <span class="bullet-text">Automatisiertes Lead-Nurturing-Prozess, bei dem potenzielle Kunden regelmäßig mit relevanten Inhalten versorgt werden, bis sie für einen Kauf bereit sind.</span>
          <div class="clear"></div>
        </li>
        <li>
          <i class="fa fa-circle" aria-hidden="true"></i>
          <span class="bullet-text">Senden Sie personalisierte E-Mail-Kampagnen an die richtige Zielgruppe.</span>
          <div class="clear"></div>
        </li>
        <li>
          <i class="fa fa-circle" aria-hidden="true"></i>
          <span class="bullet-text">Verfolgen Sie Ihre Kampagenergebnisse, um Ihre Kampagnen laufend zu optimieren und den ROI zu messen.</span>
          <div class="clear"></div>
        </li>
      </ul>
      <div class="clear"></div>
      <div class="results__cards equalize-childern">
         <ul class="cards-height">

            <li class="results__card results__card_recommended" style="min-height: 482px;">
            <a href="https://www.salesforce.com/de/form/pardot/testdrive.jsp">
              <img src="https://www.salesforce.com/de/assets/images/solutions-finder/PP01/en-img-pardot.jpg" alt="">
              <div class="results__card-inner">
                <p>GEFÜHRTE TOUR</p>
                <h1 class="equalize-group-title">Marketingautomatisierung mit Pardot </h1> 
                 <p class="equalize-group-para">Generieren Sie hochwertige Leads mithilfe von Marketing-Automatisierung.</p>
                <a class="equalize-group-link" href="https://www.salesforce.com/de/form/pardot/testdrive.jsp">ZUR TOUR &gt;</a>
              </div>
            </a>
          </li>
  <li class="results__card " style="min-height: 482px;">
            <a href="https://www.salesforce.com/de/blog/2016/05/fuenf-tipps-fuer-ihr-optimiertes-lead-management.html">
              <img src="http://www.salesforce.com/de/assets/images/solutions-finder/PP01/en-img-article-lead-management.jpg" alt="">
              <div class="results__card-inner">
                <p>ARTIKEL</p>
                <h1 class="equalize-group-title">Fünf Tipps für Ihr optimiertes Lead Management</h1>
                 <p class="equalize-group-para">In diesem E-Book erhalten Sie wertvolle Tipps, wie Sie ihr Lead-Management optimieren können.</p>
                <a class="equalize-group-link" href="https://www.salesforce.com/de/blog/2016/05/fuenf-tipps-fuer-ihr-optimiertes-lead-management.html">ARTIKEL LESEN&gt;</a>
              </div>
            </a>
          </li>




          <li class="results__card " style="min-height: 482px;">
            <a href="https://www.salesforce.com/de/form/pdf/top-10-accelerators.jsp">
              <img src="https://www.salesforce.com/de/assets/images/solutions-finder/PP01/de-img-ebook-10-tips.jpg" alt="">
              <div class="results__card-inner">
               <p>E-BOOK</p>
                <h1 class="equalize-group-title">10 Tipps für schnellere Geschäftsabschlüsse</h1>
                <p class="equalize-group-para">Erfahren Sie, wie Sie mit Marketingautomatisierung den Vertriebszyklus und die Pipeline beschleunigen können ohne zusätzlichen Aufwand für Ihre Mitarbeiter.</p>
                 <a class="equalize-group-link" href="https://www.salesforce.com/de/form/pdf/top-10-accelerators.jsp">E-BOOK HERUNTERLADEN&gt;</a>
              </div>
            </a>
          </li>
  




        



        </ul>
      </div>
    <div class="clear"></div>
<!--<span class="citation-note"><sup>1</sup> <a href="https://www.salesforce.com/de/blog/2016/05/wie-sie-qualitativ-hochwertige-leads-generieren.html">Michael Boyette, Executive Editor at the Rapid Learning Institute</a></span>-->
    <hr>