          <div class="border">
<div class="full-circle-number center inline">
<div class="full-circle-inner">
<span>%%=v(@number)=%%</span>

</div>
</div>
<div class="inline">
<div>
<p>Wir priorisieren die Leads nicht und antworten nicht schnell genug.</p>
</div>
</div>
  </div>




      <h2 class="results__subheading">Mit Pardot führen Sie einen Prozess ein, um "heiße" Leads schneller nachzuverfolgen.</h2>
      <!--<div class="clear"></div>
      <div class="results__stat">
        <h1 class="results__percentage">50<span>%</span></h1>
        <p>KAUFEN VON DEM ANBIETER, DER ZUERST ANTWORTET.<sup>2</sup></p>
      </div> -->
      <ul class="results__bullets">
        <li><i class="fa fa-circle" aria-hidden="true"></i> <span class="bullet-text">Identifizieren Sie heiße Leads bevor es der Wettbewerb tut.</span>
          <div class="clear"></div>
        </li>
        <li><i class="fa fa-circle" aria-hidden="true"></i> <span class="bullet-text">Automatisieren Sie Ihre Prozesse, um die richtigen Kunden zur richtigen Zeit zu kontaktieren.

</span>
          <div class="clear"></div>
        </li>
        <li><i class="fa fa-circle" aria-hidden="true"></i> <span class="bullet-text">Führen Sie ein Bewertungssystem ein, bei dem Sie die Interaktionen Ihrer Leads mit Ihrem Unternehmen gewichten. So können Sie die wertvollsten Leads priorisieren. </span>
          <div class="clear"></div>
        </li>
      </ul>
      <div class="clear"></div>
      <div class="results__cards">
        <ul class="cards-height">


          <li class="results__card marketing results__card_recommended" style="min-height: 528px;">
            <a href="https://www.salesforce.com/de/form/pardot/demo-pardot.jsp">
              <img src="http://www.salesforce.com/de/assets/images/solutions-finder/PP02/en-img-pardot-demo.jpg" alt="">
              <div class="results__card-inner">
                <p>DEMO</p>
                <h1>Pardot Demo-Video</h1>
                <p>In diesem Video erfahren Sie, wie Sie Ihre Pipeline mit B2B-Marketing-Automatisierung schneller ausbauen können.</p>
                <a href="https://www.salesforce.com/de/form/pardot/demo-pardot.jsp">VIDEO ANSEHEN &gt;</a>
              </div>
            </a>
          </li>


          <li class="results__card" style="min-height: 528px;">
            <a href="https://www.salesforce.com/de/form/pdf/das-lead-nurturing.jsp">
              <img src="http://www.salesforce.com/de/assets/images/solutions-finder/PP02/de-img-ebook-lead-nurturing.jpg" alt="">
              <div class="results__card-inner">
                <p>E-BOOK</p>
                <h1>Der komplette Leitfaden für das Lead Nurturing</h1>
                <p>Erfahren Sie, wie Sie Ihre Interessenten durch automatisiertes Lead Nurturing in Kunden verwandeln.</p>
                <a href="https://www.salesforce.com/de/form/pdf/das-lead-nurturing.jsp">E-BOOK HERUNTERLADEN &gt;</a>
              </div>
            </a>
          </li>
          <li class="results__card" style="min-height: 528px;">
            <a href="https://www.salesforce.com/de/form/pdf/simplifying-modern-sales-cycle.jsp">
              <img src="https://www.salesforce.com/de/assets/images/solutions-finder/PP02/de-img-ebook-lead-management.jpg" alt="">
              <div class="results__card-inner">
                <p>E-BOOK</p>
                <h1>Mit Lead-Management den Vertriebsprozess vereinfachen</h1>
                <p>Mit der richtigen  Strategie zum Lead-Management vereinfachen Sie Ihre Vertriebsprozesse erheblich, können Abschlüsse schneller erreichen und für erstklassigen Kundenservice sorgen.</p>
                <a href="https://www.salesforce.com/de/form/pdf/simplifying-modern-sales-cycle.jsp">E-BOOK HERUNTERLADEN &gt;</a>
              </div>
            </a>
          </li>





        </ul>
      </div>
    <div class="clear"></div>
<!--<span class="citation-note"><sup>2</sup> <a href="https://www.insidesales.com/research-paper/2014-lead-response-report/">Annual 2014 Lead Response Report</a></span> -->
    <hr>