           <div class="border">
<div class="full-circle-number center inline" >
<div class="full-circle-inner">
<span>%%=v(@number)=%%</span>

</div>
</div>
<div class="inline">
<div>
<p>Wir wissen nicht, wie wir das Interesse von potenziellen, noch unentschlossenen Kunden aufrechterhalten können.</p>
</div>
</div>
  </div><h2 class="results__subheading">Halten Sie sich Ihre potenziellen Kunden "warm" mit Pardot.</h2>
      <div class="clear"></div>
     <!-- <div class="results__stat">
        <h1 class="results__percentage">80<span>%</span></h1>
        <p>DER KUNDEN MÜSSEN NACH DEM ERSTEN GESPRÄCH NOCH FÜNFMAL KONTAKTIERT WERDEN.<sup>5</sup></p>
      </div> -->
      <ul class="results__bullets">
        <li><i class="fa fa-circle" aria-hidden="true"></i> <span class="bullet-text">Stellen Sie sicher, dass Leads stets zeitnah an Vertriebsmitarbeiter weitergeleitet werden.</span>
          <div class="clear"></div>
        </li>
        <li><i class="fa fa-circle" aria-hidden="true"></i> <span class="bullet-text">Automatisieren Sie die Nachverfolgung, um die richtigen Leads zur richtigen Zeit zu kontaktieren. </span>
          <div class="clear"></div>
        </li>
        <li><i class="fa fa-circle" aria-hidden="true"></i> <span class="bullet-text">Verfolgen Sie die Aktivitäten Ihrer Leads und lassen Sie sich sofort automatisch benachrichtigen, wenn Sie sie kontaktieren sollten.</span>
          <div class="clear"></div>
        </li>
      </ul>
      <div class="clear"></div>
      <div class="results__cards">
        <ul class="cards-height">

          <li class="results__card marketing results__card_recommended" style="min-height: 494px;">
            <a href="https://www.salesforce.com/de/form/pardot/testdrive.jsp">
              <img src="http://image.mail.salesforce.com/lib/fe971c7275640d7e77/m/1/pardot-marketing-automation-guided-tour.jpg" alt="">
              <div class="results__card-inner">
                <p>GEFÜHRTE TOUR</p>
                <h1>Geführte Tour: Pardot </h1>
                <p>Generieren Sie hochwertige Leads mit Marketing Automatisierung.</p>
                <a href="https://www.salesforce.com/de/form/pardot/testdrive.jsp">ZUR TOUR &gt;</a>
              </div>
            </a>
          </li>
          <li class="results__card" style="min-height: 494px;">
            <a href="https://www.salesforce.com/de/form/pdf/how-to-be-your-own-marketer.jsp">
              <img src="http://www.salesforce.com/de/assets/images/solutions-finder/PP05/de-img-ebook-be-marketeer.jpg" alt="">
              <div class="results__card-inner">
                <p>E-BOOK</p>
                <h1>Mehr Erfolg bei der Kundenakquise – Marketingtipps für den Vertrieb</h1>
                <p>Lernen Sie, wie Sie Interessenten mit Lead Nurturing ohne großen Aufwand weiter qualifizieren bis zur Kaufentscheidung,</p>
                <a href="https://www.salesforce.com/de/form/pdf/how-to-be-your-own-marketer.jsp">E-BOOK HERUNTERLADEN &gt;</a>
              </div>
            </a>
          </li>
          <li class="results__card" style="min-height: 494px;">
            <a href="https://www.salesforce.com/de/form/pardot/demo-pardot.jsp">
              <img src="http://www.salesforce.com/de/assets/images/solutions-finder/PP05/en-img-pardot-demo.jpg" alt="">
              <div class="results__card-inner">
                <p>DEMO</p>
                <h1>Pardot Demo-Video</h1>
                <p>In diesem Video erfahren Sie, wie Sie Leads mit B2B-Marketing-Automatisierung weiter qualifizieren können.</p>
                <a href="https://www.salesforce.com/de/form/pardot/demo-pardot.jsp">VIDEO ANSEHEN &gt;</a>
              </div>
            </a>
          </li>

        </ul>
      </div>
<div class="clear"></div> <!-- <span class="citation-note"><sup>5</sup> <a href="http://www.marketingdonut.co.uk/marketing/sales/sales-techniques-and-negotiations/why-8-of-sales-people-get-80-of-the-sales">The Marketing Donut</a></span> -->
    <hr>