      <div class="border">
<div class="full-circle-number center inline float-left">
<div class="full-circle-inner">
<span>%%=v(@number)=%%</span>


</div>
</div>

<span class="font-22">Wir können unsere Umsätze und die Vertriebspipeline nicht in Echtzeit sehen und können daher Entscheidungen nicht schnell genug fällen. </span>

  </div>


      <h2 class="results__subheading">Mit der Sales Cloud behalten Sie jederzeit einen Überblick über Ihre Vertriebspipeline und Ihre Umsätze.</h2>
      <div class="clear"></div>
      <!--
      <div class="results__stat">
        <h1 class="results__percentage">55<span>%</span></h1>
        <p>ALLER  KLEINUNTERNEHMEN VERFOLGEN IHRE LAGERBESTÄNDE NICHT ODER VERWENDEN MANUELLE PROZESSE. <sup>6</sup></p>
      </div> -->
      <ul class="results__bullets">
        <li><i class="fa fa-circle" aria-hidden="true"></i> <span class="bullet-text">Nutzen Sie Dashboards, die Ihnen eine Übersicht über Ihre Kennzahlen und die Zielvorgaben in Echtzeit liefern.</span>
          <div class="clear"></div>
        </li>
        <li><i class="fa fa-circle" aria-hidden="true"></i> <span class="bullet-text">Verfolgen Sie alle Veränderungen, Risikofaktoren und die wichtigsten Kennzahlen in Dashboards und Reports, um schnell reagieren zu können.</span>
          <div class="clear"></div>
        </li>
        <li><i class="fa fa-circle" aria-hidden="true"></i> <span class="bullet-text">Mit einer mobilen Lösung können Sie Ihre Kennzahlen überall in Echtzeit verfolgen und sofort Entscheidungen treffen.</span>
          <div class="clear"></div>
        </li>
      </ul>
      <div class="clear"></div>
      <div class="results__cards">
        <ul class="cards-height">

          <li class="results__card results__card_recommended" style="min-height: 464px;">
            <a href="https://www.salesforce.com/form/signup/guided-tour-small-business.jsp">
              <img src="http://www.salesforce.com/de/assets/images/solutions-finder/PP06/de-crm-guided-tour.jpg" alt="">
                <div class="results__card-inner">
                <p>VIRTUELLE TOUR</p>
                <h1>Sales Cloud Virtuelle Tour</h1>
                <p>Sehen Sie sich an, wie Sie effizienter arbeiten und sämtliche Kundeninformationen immer im Blick haben.</p>
                <a href="https://www.salesforce.com/de/form/signup/testdrive.jsp">TOUR STARTEN &gt;</a>
              </div>
            </a>
          </li>
          <li class="results__card" style="min-height: 464px;">
            <a href="https://www.salesforce.com/de/form/pdf/data-driven-sales.jsp">
              <img src="https://www.salesforce.com/de/assets/images/solutions-finder/PP06/en-img-ebook-data-driven-sales.jpg" alt="">
              <div class="results__card-inner">
                <p>E-BOOK</p>
                <h1>Datengestützter Vertrieb: Wettbewerbsvorteile mit Dashboards</h1>
                <p>Erfarhen Sie, wie Sie mit Dashboards immer alles im Blick haben und so schneller die richtigen Entscheidungen treffen können.</p>
                <a href="https://www.salesforce.com/de/form/pdf/data-driven-sales.jsp">E-BOOK HERUNTERLADEN &gt;</a>
              </div>
            </a>
          </li>
          <li class="results__card" style="min-height: 464px;">
            <a href="https://www.salesforce.com/de/form/pdf/moderner-vertrieb.jsp">
              <img src="https://www.salesforce.com/de/assets/images/solutions-finder/PP06/en-img-ebook-start-ups.jpg" alt="">
              <div class="results__card-inner">
                <p>E-BOOK</p>
                <h1>Vertriebsmetriken: Moderner Vertrieb muss messbar sein.</h1>
                <p>Wie junge Unternehmen aussagekräfitge Vertriebsmetriken entwickeln und nutzen.</p>
                <a href="https://www.salesforce.com/de/form/pdf/moderner-vertrieb.jsp">E-BOOK HERUNTERLADEN &gt;</a>
              </div>
            </a>
          </li>

        </ul>
      </div>
      <div class="clear"></div> <!--

<span class="citation-note"><sup>6</sup> <a href="http://www.waspbarcode.com/small-business-report">The 2016 Small Business Report (Wasp Barcode)</a></span> -->
    <hr>