          <div class="border">
<div class="full-circle-number center inline">
<div class="full-circle-inner">
<span>%%=v(@number)=%%</span>

</div>
</div>
<div class="inline">
<div>
<p>Wir haben nicht die nötigen Daten, um Kundenprobleme im Vorfeld zu vermeiden und die Kundenzufriedenheit zu steigern.</p>
</div>
</div>
  </div>

      <h2 class="results__subheading">Mit der Service Cloud identifizieren Sie potenzielle Probleme Ihrer Kunden frühzeitig:</h2>
     <!-- <div class="clear"></div>
      <div class="results__stat">
        <h1 class="results__percentage">72<span>%</span></h1>
        <p> DER KUNDEN MÖCHTEN SELBST NACH LÖSUNGEN SUCHEN KÖNNEN<sup>9</sup></p>
      </div> -->
      <ul class="results__bullets">
        <li><i class="fa fa-circle" aria-hidden="true"></i> <span class="bullet-text">Beheben Sie Probleme, bevor sie auftauchen.</span>
          <div class="clear"></div>
        </li>
        <li><i class="fa fa-circle" aria-hidden="true"></i> <span class="bullet-text">Identifizieren Sie häufig vorkommende Probleme und Anfragen.</span>
          <div class="clear"></div>
        </li>
        <li><i class="fa fa-circle" aria-hidden="true"></i> <span class="bullet-text">Messen Sie die Kundenzufriedenheit laufend mit Echtzeit-Reports.</span>
          <div class="clear"></div>
        </li>
      </ul>
      <div class="clear"></div>
      <div class="results__cards">
        <ul class="cards-height">

<li class="results__card results__card_recommended service" style="min-height: 440px;">
            <a href="https://www.salesforce.com/de/form/demo/demo-service.jsp">
              <img src="http://www.salesforce.com/de/assets/images/solutions-finder/PP08/de-demo-service-cloud.jpg" alt="">
              <div class="results__card-inner">
                <p>DEMO</p>
                <h1>Service Cloud Demo-Video</h1>
                <p>Sehen Sie sich an, wie Sie die Kundenzufriedenheit und -bindung steigern und effizienter arbeiten können.</p>
                <a href="https://www.salesforce.com/de/form/demo/demo-service.jsp">VIDEO ANSEHEN  &gt;</a>
              </div>
            </a>
          </li>
    <li class="results__card" style="min-height: 440px;">
            <a href="http://www.salesforce.com/de/form/pdf/so-bieten-sie-ihren-kunden.jsp">
              <img src="http://www.salesforce.com/de/assets/images/solutions-finder/PP08/de-ebook-desk-smb.jpg" alt="">
                <div class="results__card-inner">
                <p>E-BOOK</p>
                <h1>Leitfaden für Kundenservice-Leiter in Kleinunternehmen</h1>
                <p>Der komplette Ratgeber für zufriedenere Kunden</p>
                <a href="https://www.salesforce.com/de/form/pdf/erfolgreicher-kundenservice-in-kleinunternehmen.jsp">E-BOOK HERUNTERLADEN &gt;</a>
              </div>
            </a>
          </li>


          <li class="results__card" style="min-height: 440px;">
          <a href="http://www.salesforce.com/de/form/pdf/so-bieten-sie-ihren-kunden.jsp">
              <img src="http://www.salesforce.com/de/assets/images/solutions-finder/PP08/de-ebook-desk-support.jpg" alt="">
          <div class="results__card-inner">
                <p>E-BOOK</p>
                <h1>So bieten Sie Ihren Kunden erstklassigen Self-Service-Support</h1>
                <p>6 Tipps, wie Sie Ihren Kunden erstklassigen Self-Service-Support bieten können.</p>
                <a href="http://www.salesforce.com/de/form/pdf/so-bieten-sie-ihren-kunden.jsp">E-BOOK HERUNTERLADEN &gt;</a>
              </div>
            </a>
          </li>

        </ul>
      </div>
<div class="clear"></div> <!--
<span class="citation-note"><sup>9</sup> <a href="http://www.aspect.com/uk/company/news-and-events/press-releases/customer-serve-thy-self-new-study-reveals-millennials-desire-for-self-service-digital-interaction-to-change-customer-service-forever">The 2015 Aspect Consumer Experience Index</a></span> -->
    <hr>