            <div class="border">
<div class="full-circle-number center inline" >
<div class="full-circle-inner">
<span>%%=v(@number)=%%</span>

</div>
</div>
<div class="inline">
<div>
<p>Wir haben kein IT Team, das uns helfen könnte, Prozesse zu standardisieren. </p>
</div>
</div>
  </div>


  <h2 class="results__subheading">Optimieren Sie Ihre Geschäftsprozesse ohne zusätzliche IT-Ressourcen mit der App Cloud.</h2>
      <div class="clear"></div>
      <!--<div class="results__stat">
        <h1 class="results__percentage">52<span>%</span></h1>
        <p>DER KMUS PLANEN IN DEN NÄCHSTEN 2 JAHREN GRÖSSERE BUDGETS FÜR DIE ANWENDUNGSENTWICKLUNG.<sup>10</sup></p>
      </div> -->
      <ul class="results__bullets">
        <li><i class="fa fa-circle" aria-hidden="true"></i> <span class="bullet-text">Nutzen Sie Anwendungen, die über die Cloud bereitgestellt werden. Damit entfällt der gesamte Aufwand für Beschaffung und Verwaltung von Soft- und Hardware. </span>
          <div class="clear"></div>
        </li>
        <li><i class="fa fa-circle" aria-hidden="true"></i> <span class="bullet-text">Mit Point-and-Click Tools können Sie ihre Ideen sofort in Anwendungen und Apps umsetzen, auch ohne Programmierkenntnisse.</span>
          <div class="clear"></div>
        </li>
        <li><i class="fa fa-circle" aria-hidden="true"></i> <span class="bullet-text">Nutzen Sie fertige Geschäftsanwendungen für die Automatisierung von speziellen Prozessen.</span>
          <div class="clear"></div>
        </li>
      </ul>
      <div class="clear"></div>
      <div class="results__cards">
        <ul class="cards-height">

<li class="results__card results__card_recommended app_cloud" style="min-height: 464px;">
            <a href="https://www.salesforce.com/de/form/demo/demo-platform.jsp">
              <img src="http://image.mail.salesforce.com/lib/fe971c7275640d7e77/m/1/footer-guided-tour-application-development-by-app-cloud.jpg" alt="">
              <div class="results__card-inner">
                <p>DEMO</p>
                <h1>App Cloud Demo-Video</h1>
                <p>Unser Demo-Video zeigt, wie Sie mit der App Cloud schnell Prozesse automatisieren und Ihre Ideen in Anwendungen umwandeln.</p>
                <a href="https://www.salesforce.com/de/form/demo/demo-platform.jsp">DEMO ANSEHEN  &gt;</a>
              </div>
            </a>
          </li>

          <li class="results__card" style="min-height: 464px;">
            <a href="https://www.salesforce.com/de/form/pdf/app-cloud-auf-einen-blick.jsp">
              <img src="http://image.mail.salesforce.com/lib/fe971c7275640d7e77/m/1/smb-resources-ebook-small-business-apps.jpg" alt="">
              <div class="results__card-inner">
                <p>E-BOOK</p>
                <h1>Der schnellste Weg, um Anwendungen und Apps zu erstellen</h1>
                <p>Mit der Salesforce App Cloud stellen Sie Anwendungen und Apps für Kunden, Mitarbeiter und Partner auf dem schnellsten Weg bereit.</p>
                <a href="https://www.salesforce.com/de/form/pdf/app-cloud-auf-einen-blick.jsp">E-BOOK HERUNTERLADEN &gt;</a>
              </div>
            </a>
          </li>

        </ul>
      </div>
<div class="clear"></div> <!--
<span class="citation-note"><sup>10</sup> <a href="https://www.salesforce.com/form/conf/benchmarks-small-business.jsp?d=7010M000001y857">Benchmarks for Small Business Growth Report</a></span> -->
    <hr>