          <div class="border">
<div class="full-circle-number center inline" >
<div class="full-circle-inner">
<span>%%=v(@number)=%%</span>

</div>
</div>
<div class="inline">
<div>
<p>Wir verschwenden zu viel Zeit mit administrativen Aufgaben, anstatt zu verkaufen.</p>
</div>
</div>
  </div>






      <h2 class="results__subheading">Mit der Sales Cloud verbringen Sie weniger Zeit mit administrativen Aufgaben und somit mehr Zeit mit Ihren Kunden:</h2>
      <div class="clear"></div>

      <!--
      <div class="results__stat">
        <h1 class="results__percentage">37<span>%</span></h1>
        <p>SALESFORCE-KUNDEN HABEN DURCHSCHNITTLICH 37% MEHR UMSATZ ERZIELT.<sup>4</sup></p>
      </div> -->
      <ul class="results__bullets">
        <li><i class="fa fa-circle" aria-hidden="true"></i> <span class="bullet-text">Richten Sie eine automatische Lead-Weiterleitung ein.</span>
          <div class="clear"></div>
        </li>
        <li><i class="fa fa-circle" aria-hidden="true"></i> <span class="bullet-text">Synchronisieren Sie alle Anwendungen, damit Sie alle Informationen in einem Gesamtüberblick haben. </span>
          <div class="clear"></div>
        </li>
        <li><i class="fa fa-circle" aria-hidden="true"></i> <span class="bullet-text">Sorgen Sie für schnellen Zugriff auf Dokumente, Dateien und Kundendaten.</span>
          <div class="clear"></div>
        </li>
      </ul>
      <div class="clear"></div>
      <div class="results__cards">
        <ul class="cards-height">

          <li class="results__card marketing results__card_recommended" style="min-height: 470px;">
            <a href="https://www.salesforce.com/de/form/signup/testdrive.jsp">
              <img src="http://www.salesforce.com/de/assets/images/solutions-finder/PP06/de-crm-guided-tour.jpg" alt="">
              <div class="results__card-inner">
                <p>VIRTUELLE TOUR</p>
                <h1>Sales Cloud Virtuelle Tour</h1>
                <p>Sehen Sie sich an, wie Sie effizienter arbeiten und sämtliche Kundeninformationen immer im Blick haben.</p>
                <a href="https://www.salesforce.com/de/form/signup/testdrive.jsp">TOUR STARTEN &gt;</a>
              </div>
            </a>
          </li>
          <li class="results__card" style="min-height: 470px;">
            <a href="https://www.salesforce.com/de/form/pdf/5-productivity-tips.jsp">
              <img src="http://www.salesforce.com/de/assets/images/solutions-finder/PP04/de-img-ebook-productivity-tips.jpg" alt="">
              <div class="results__card-inner">
                <p>E-BOOK</p>
                <h1>Fünf Tipps zur Steigerung der Produktivität im Vertrieb</h1>
                <p>Erfahren Sie, wie Sie Produktivität und Umsatz steigern und den Vertriebszyklus besser steuern können.</p>
                <a href="https://www.salesforce.com/de/form/pdf/5-productivity-tips.jsp">E-BOOK HERUNTERLADEN &gt;</a>
              </div>
            </a>
          </li>
          <li class="results__card" style="min-height: 470px;">
            <a href="https://www.salesforce.com/de/form/pdf/entrepreneurs-guide-to-CRM.jsp">
            <img src="http://image.mail.salesforce.com/lib/fe971c7275640d7e77/m/1/SalesforceIQ_smarter_selling_for_small_business.jpg" alt="">
              <div class="results__card-inner">
                <p>E-BOOK</p>
                <h1>Die ideale CRM-Lösung für Ihr Unternehmen –Leitfaden für Existenzgründer</h1>
                <p>Erfahren Sie in diesem E-book, was ein CRM ist und wie es Ihre Umsätze ankurbeln kann.</p>
                <a href="https://www.salesforce.com/de/form/pdf/entrepreneurs-guide-to-CRM.jsp">E-BOOK HERUNTERLADEN &gt;</a>
              </div>
            </a>
          </li>

        </ul>
      </div>
<div class="clear"></div>
<!--
<span class="citation-note"><sup>4</sup>ConfirmIt Inc. 2015. Kundenzufriedenheitsumfage von März 2015 bis Mai 2015 durch das unabhängige Unternehmen Confirmit Inc.</span> -->
    <hr>